html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h3{
  font-size:1rem;
}
h2{
color: #525ca3;
text-transform: uppercase;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background-color: #f7f7f7;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}



/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   FLEX BOX CUTSOM GRID
   ========================================================================== */
.flex-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 1em;
}
@media (min-width: 540px) {
  .flex-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .flex-container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .flex-container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .flex-container {
    max-width: 1200px;
  }
}

.flex-row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1em;
}


.flex-col-xs-12,
.flex-col-sm-12,
.flex-col-md-12,
.flex-col-lg-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .flex-col-xs-12 {
    max-width: calc(100% * (12 / 12));
    width: calc(100% * (12 / 12));
  }
}

@media (min-width: 768px) {
  .flex-col-sm-12 {
    max-width: calc(100% * (12 / 12));
    width: calc(100% * (12 / 12));
  }
}

@media (min-width: 992px) {
  .flex-col-md-12 {
    max-width: calc(100% * (12 / 12));
    width: calc(100% * (12 / 12));
  }
}

@media (min-width: 1200px) {
  .flex-col-lg-12 {
    max-width: calc(100% * (12 / 12));
    width: calc(100% * (12 / 12));
  }
}

.flex-col-xs-11,
.flex-col-sm-11,
.flex-col-md-11,
.flex-col-lg-11 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .flex-col-xs-11 {
    max-width: calc(100% * (11 / 12));
    width: calc(100% * (11 / 12));
  }
}

@media (min-width: 768px) {
  .flex-col-sm-11 {
    max-width: calc(100% * (11 / 12));
    width: calc(100% * (11 / 12));
  }
}

@media (min-width: 992px) {
  .flex-col-md-11 {
    max-width: calc(100% * (11 / 12));
    width: calc(100% * (11 / 12));
  }
}

@media (min-width: 1200px) {
  .flex-col-lg-11 {
    max-width: calc(100% * (11 / 12));
    width: calc(100% * (11 / 12));
  }
}
.flex-col-xs-10,
.flex-col-sm-10,
.flex-col-md-10,
.flex-col-lg-10 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .flex-col-xs-10 {
    max-width: calc(100% * (10 / 12));
    width: calc(100% * (10 / 12));
  }
}

@media (min-width: 768px) {
  .flex-col-sm-10 {
    max-width: calc(100% * (10 / 12));
    width: calc(100% * (10 / 12));
  }
}

@media (min-width: 992px) {
  .flex-col-md-10 {
    max-width: calc(100% * (10 / 12));
    width: calc(100% * (10 / 12));
  }
}

@media (min-width: 1200px) {
  .flex-col-lg-10 {
    max-width: calc(100% * (10 / 12));
    width: calc(100% * (10 / 12));
  }
}

.flex-col-xs-9,
.flex-col-sm-9,
.flex-col-md-9,
.flex-col-lg-9 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .flex-col-xs-9 {
    max-width: calc(100% * (9 / 12));
    width: calc(100% * (9 / 12));
  }
}

@media (min-width: 768px) {
  .flex-col-sm-9 {
    max-width: calc(100% * (9 / 12));
    width: calc(100% * (9 / 12));
  }
}

@media (min-width: 992px) {
  .flex-col-md-9 {
    max-width: calc(100% * (9 / 12));
    width: calc(100% * (9 / 12));
  }
}

@media (min-width: 1200px) {
  .flex-col-lg-9 {
    max-width: calc(100% * (9 / 12));
    width: calc(100% * (9 / 12));
  }
}

.flex-col-xs-8,
.flex-col-sm-8,
.flex-col-md-8,
.flex-col-lg-8 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .flex-col-xs-8 {
    max-width: calc(100% * (8 / 12));
    width: calc(100% * (8 / 12));
  }
}

@media (min-width: 768px) {
  .flex-col-sm-8 {
    max-width: calc(100% * (8 / 12));
    width: calc(100% * (8 / 12));
  }
}

@media (min-width: 992px) {
  .flex-col-md-8 {
    max-width: calc(100% * (8 / 12));
    width: calc(100% * (8 / 12));
  }
}

@media (min-width: 1200px) {
  .flex-col-lg-8 {
    max-width: calc(100% * (8 / 12));
    width: calc(100% * (8 / 12));
  }
}
.flex-col-xs-7,
.flex-col-sm-7,
.flex-col-md-7,
.flex-col-lg-7 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .flex-col-xs-7 {
    max-width: calc(100% * (7 / 12));
    width: calc(100% * (7 / 12));
  }
}

@media (min-width: 768px) {
  .flex-col-sm-7 {
    max-width: calc(100% * (7 / 12));
    width: calc(100% * (7 / 12));
  }
}

@media (min-width: 992px) {
  .flex-col-md-7 {
    max-width: calc(100% * (7 / 12));
    width: calc(100% * (7 / 12));
  }
}

@media (min-width: 1200px) {
  .flex-col-lg-7 {
    max-width: calc(100% * (7 / 12));
    width: calc(100% * (7 / 12));
  }
}

.flex-col-xs-6,
.flex-col-sm-6,
.flex-col-md-6,
.flex-col-lg-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .flex-col-xs-6 {
    max-width: calc(100% * (6 / 12));
    width: calc(100% * (6 / 12));
  }
}

@media (min-width: 768px) {
  .flex-col-sm-6 {
    max-width: calc(100% * (6 / 12));
    width: calc(100% * (6 / 12));
  }
}

@media (min-width: 992px) {
  .flex-col-md-6 {
    max-width: calc(100% * (6 / 12));
    width: calc(100% * (6 / 12));
  }
}

@media (min-width: 1200px) {
  .flex-col-lg-6 {
    max-width: calc(100% * (6 / 12));
    width: calc(100% * (6 / 12));
  }
}

.flex-col-xs-5,
.flex-col-sm-5,
.flex-col-md-5,
.flex-col-lg-5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .flex-col-xs-5 {
    max-width: calc(100% * (5 / 12));
    width: calc(100% * (5 / 12));
  }
}

@media (min-width: 768px) {
  .flex-col-sm-5 {
    max-width: calc(100% * (5 / 12));
    width: calc(100% * (5 / 12));
  }
}

@media (min-width: 992px) {
  .flex-col-md-5 {
    max-width: calc(100% * (5 / 12));
    width: calc(100% * (5 / 12));
  }
}

@media (min-width: 1200px) {
  .flex-col-lg-5 {
    max-width: calc(100% * (5 / 12));
    width: calc(100% * (5 / 12));
  }
}

.flex-col-xs-4,
.flex-col-sm-4,
.flex-col-md-4,
.flex-col-lg-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .flex-col-xs-4 {
    max-width: calc(100% * (4 / 12));
    width: calc(100% * (4 / 12));
  }
}

@media (min-width: 768px) {
  .flex-col-sm-4 {
    max-width: calc(100% * (4 / 12));
    width: calc(100% * (4 / 12));
  }
}

@media (min-width: 992px) {
  .flex-col-md-4 {
    max-width: calc(100% * (4 / 12));
    width: calc(100% * (4 / 12));
  }
}

@media (min-width: 1200px) {
  .flex-col-lg-4 {
    max-width: calc(100% * (4 / 12));
    width: calc(100% * (4 / 12));
  }
}

.flex-col-xs-3,
.flex-col-sm-3,
.flex-col-md-3,
.flex-col-lg-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .flex-col-xs-3 {
    max-width: calc(100% * (3 / 12));
    width: calc(100% * (3 / 12));
  }
}

@media (min-width: 768px) {
  .flex-col-sm-3 {
    max-width: calc(100% * (3 / 12));
    width: calc(100% * (3 / 12));
  }
}

@media (min-width: 992px) {
  .flex-col-md-3 {
    max-width: calc(100% * (3 / 12));
    width: calc(100% * (3 / 12));
  }
}

@media (min-width: 1200px) {
  .flex-col-lg-3 {
    max-width: calc(100% * (3 / 12));
    width: calc(100% * (3 / 12));
  }
}

.flex-col-xs-2,
.flex-col-sm-2,
.flex-col-md-2,
.flex-col-lg-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .flex-col-xs-2 {
    max-width: calc(100% * (2 / 12));
    width: calc(100% * (2 / 12));
  }
}

@media (min-width: 768px) {
  .flex-col-sm-2 {
    max-width: calc(100% * (2 / 12));
    width: calc(100% * (2 / 12));
  }
}

@media (min-width: 992px) {
  .flex-col-md-2 {
    max-width: calc(100% * (2 / 12));
    width: calc(100% * (2 / 12));
  }
}

@media (min-width: 1200px) {
  .flex-col-lg-2 {
    max-width: calc(100% * (2 / 12));
    width: calc(100% * (2 / 12));
  }
}

.flex-col-xs-1,
.flex-col-sm-1,
.flex-col-md-1,
.flex-col-lg-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .flex-col-xs-1 {
    max-width: calc(100% * (1 / 12));
    width: calc(100% * (1 / 12));
  }
}

@media (min-width: 768px) {
  .flex-col-sm-1 {
    max-width: calc(100% * (1 / 12));
    width: calc(100% * (1 / 12));
  }
}

@media (min-width: 992px) {
  .flex-col-md-1 {
    max-width: calc(100% * (1 / 12));
    width: calc(100% * (1 / 12));
  }
}

@media (min-width: 1200px) {
  .flex-col-lg-1 {
    max-width: calc(100% * (1 / 12));
    width: calc(100% * (1 / 12));
  }
}
/* =======================================
    culster css
   ======================================== */

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
  }
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
  }

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
  }
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
  }

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
  }
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
  }

  /* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgb(181, 226, 140);
  }
.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(110, 204, 57);
  }

.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(241, 211, 87);
  }
.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(240, 194, 12);
  }

.leaflet-oldie .marker-cluster-large {
  background-color: rgb(253, 156, 115);
  }
.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(241, 128, 23);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  }
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
.marker-cluster span {
  line-height: 30px;
  }
  .leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  -webkit-transition: opacity 0.3s ease-in, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-in, -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in, -webkit-transform 0.3s ease-out;
}

.leaflet-cluster-spider-leg {
  /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
  -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
  -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
  -webkit-transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
  -o-transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

/* =======================================
    BODY CSS
   ======================================== */
body { 
  margin: 0; 
  padding: 0; 
}
.relative{
  position:relative;
  overflow: hidden;
}
.clear{
  clear:both;
}


/* =======================================
    HEADER
   ======================================== */
.title-block{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  width:100%;
  -webkit-box-ordinal-group:3;
      -ms-flex-order:2;
          order:2;
}
.title {
  color: #000000;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#e2e4e3), color-stop(#e9ebeb), color-stop(#f0f1f2), color-stop(#f8f8f8), to(#ffffff));
  background-image: -o-linear-gradient(right bottom, #e2e4e3, #e9ebeb, #f0f1f2, #f8f8f8, #ffffff);
  background-image: linear-gradient(to left top, #e2e4e3, #e9ebeb, #f0f1f2, #f8f8f8, #ffffff);
  text-transform: uppercase;
  padding: 10px 25px;
  margin: 0;
  font-size: 1.2rem;
}
.title .small {
  font-size: .9rem;
}
.description{
  position:relative;   
  padding: 0
}
 
.description p{
  color:#ffffff;
  margin:0;
  font-size:.8rem;

    
    padding:5px 5px 5px 70px;
}
.description p:nth-child(1){
background-color:#FF6666;
}
.description p:nth-child(2){
  background-color:#757575;
}
.description p:nth-child(3){
  background-color:#000000;
}
.description::before{
  content: "&";
  position: absolute;
  vertical-align: middle;
  font-size: 45px;
  color: #ffffff;
  top: 50%;
  left: 3%;
  -webkit-transform: translate(-3%,-50%);
      -ms-transform: translate(-3%,-50%);
          transform: translate(-3%,-50%);
}
.image-block,.title-block{
  padding-top:0;
  padding-bottom:0;
}
.image-block{
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  width:100%;
  -webkit-box-ordinal-group:2;
      -ms-flex-order:1;
          order:1;
  display: block;
  height: 103px;
}
/* =======================================
    MAP
   ======================================== */
.map{
  position:relative;
}
#map,
#map2{
  width: 100%;
  height: 100%;
  min-height: 738px;
  position: relative;
}
/* =======================================
    FILTER GROUP
   ======================================== */

#filters{
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 9999; 
  margin-top:60px;
}
#filters_mps{
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 9999;
  margin-top: 75px; 
  padding-right: 0;
  padding-top: 0;   
  overflow-y:scroll;
  max-height:738px;
}
.filter-group {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600; 
  border-radius: 3px;
  width: auto;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 6px rgba(238,238,238,0.48); 
  box-shadow: 0px 0px 5px 6px rgba(238,238,238,0.48);
}
 
.filter-group{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #1d70b7;
}
.filter-group h3{
  color:#707070;
}
 
.filter-group label:last-child {
  border: none;
}
 
.filter-group input[type='checkbox'] {
  display: none;
}
.filter-group input[type='checkbox'] + label {
  background-color: #eee;
  color:#707070;
  display: block;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
 

 
.filter-group input[type='checkbox'] + label:hover,
.filter-group input[type='checkbox']:checked + label {
  background-color: gainsboro;
    color: #707070;
}
 
.filter-group input[type='checkbox']:checked + label:before {
  content:'\002714';
  margin-right: 5px;
}
#glucocerebrosidase:checked + label:before {
  color:#D13D29;
}
#ccl18:checked + label:before {
  color:#F69730;
}
#chit1:checked + label:before {
  color:#708023;
}
#chitotriosidase:checked + label:before {
  color:#593869;
}
#gba:checked + label:before {
  color:#6FAC25;
}
#lysoglucosylceramide:checked + label:before {
  color:#FF8D7E;
}
#psap:checked + label:before {
  color:#CD50B5;
}
#sphingomyelineacide:checked + label:before {
  color:#0065A0;
}
#smpD1:checked + label:before {
  color:#FF90E8;
}
#lysosphingomyeline509:checked + label:before {
  color:#fff;
}
#sphingomyeline:checked + label:before {
  color:#FFC78C ;
}










#filters.slide,
#filters_mps.slide{
  left: 0;
}

/* width */
#filters_mps::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#filters_mps::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
#filters_mps::-webkit-scrollbar-thumb {
  background: #1d70b7; 
  border-radius: 10px;
}

/* Handle on hover */
#filters_mps::-webkit-scrollbar-thumb:hover {
  background: rgba(29,112,183,0.7); 
}
/* ==========================================================================
  HANBURGER MENU
   ========================================================================== */
.hamburger,
.hamburger2{
  border:1px solid #757575;
  padding: 1em;
  background-color:transparent;
  margin-left: 1em;
}
.hamburger:hover,
.hamburger2:hover{
  cursor: pointer;
  background-color:#ffffff;
  color:#1d70b7;
  border:1px solid #1d70b7;
}


/* =======================================
    BLOC INFOS
   ======================================== */

#infos,
#infos2{
  position: absolute;
  top: 0;
  right: -100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 9999;
  margin-top:60px;
}
#infos.slide,
#infos2.slide{
  right:0;
  display:block;
}
.layer_infos{
  background-color:#f7f7f7;
  border:1px solid #1d70b7;
  color: #707070;
  padding: 50px 35px;
  text-align: left;
  height: 100%;
  max-height: 738px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
      overflow:auto
}
.layer_infos p{
    margin: 5px 0;
    position: relative;
    font-size: .9rem;
    line-height: 1.5;
}
.close,
.close2{
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity:1;
}
.close:before, .close:after,
.close2:before, .close2:after{
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #1d70b7;
}
.close:before,
.close2:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close:after,
.close2:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.hidden-xs{
  display:none;
}
/* =======================================
    BLOC couleurs
   ======================================== */

.circle-ccl18{
  background-color: #F69730 !important;
}
.buvard-ccl18,
.tube-ccl18 {
  color: #F69730 !important;
}

.circle-chit1 {
  background-color: #708023 !important;
}
.buvard-chit1,
.tube-chit1{
  color: #708023 !important;
}

.circle-chitotriosidase {
  background-color: #593869 !important; 
}
.tube-chitotriosidase,
.buvard-chitotriosidase{
  color: #593869 !important; 
}

.circle-gba{
  background-color: #6FAC25 !important;
}
.tube-gba,
.buvard-gba {
  color: #6FAC25 !important;
}

.circle-glucocerebrosidase{
  background-color: #D13D29 !important;
}
.tube-glucocerebrosidase,
.buvard-glucocerebrosidase{
  color: #D13D29 !important;
}

.circle-lysoglucosylceramide {
  background-color: #FF8D7E !important;
}
.tube-lysoglucosylceramide,
.buvard-lysoglucosylceramide{
  color: #FF8D7E !important;
}

.circle-psap {
  background-color: #CD50B5 !important;
}
.tube-psap,
.buvard-psap{
  color: #CD50B5 !important;
}


.circle-lysosphingomyeline509 {
  background-color: #fff !important;
}
.tube-lysosphingomyeline509,
.buvard-lysosphingomyeline509{
  color: #fff !important; 
}

.circle-sphingomyeline{
  background-color: #FFC78C !important;
}
.tube-sphingomyeline,
.buvard-sphingomyeline{
  color: #FFC78C !important;
}

.circle-sphingomyelineacide {
  background-color: #0065A0 !important;
}
.buvard-sphingomyelineacide,
.tube-sphingomyelineacide{
  color: #0065A0 !important;
}

.circle-smpD1{
  background-color: #FF90E8 !important;
}
.buvard-smpD1,
.tube-smpD1{
  color: #FF90E8 !important;
}



.circle-acetyl_CoA{
  background-color: #D051B7 !important;
}
.tube-acetyl_CoA,
.buvard-acetyl_CoA{
  color: #D051B7 !important;
}


.circle-α_L_iduronidase {
  background-color: #B9F770 !important;
}
.tube-α_L_iduronidase,
.buvard-α_L_iduronidase{
  color: #B9F770 !important;
}

.circle-α_N_acetylglucosamine_6_sulfate {
  background-color: #575757 !important;
}
.tube-α_N_acetylglucosamine_6_sulfate,
.buvard-α_N_acetylglucosamine_6_sulfate{
  color: #575757 !important;
}



.circle-arsb{
  background-color: #D13D29 !important;
}
.tube-arsb,
.buvard-arsb{
  color: #D13D29 !important;
}



.circle-arylsulfatase_b {
  background-color: #37A7D9 !important;
}
.tube-arylsulfatase_b,
.buvard-arylsulfatase_b{
  color: #37A7D9 !important;
}


.circle-β_galactosidase {
  background-color: #FFC78C !important;
}
.tube-β_galactosidase,
.buvard-β_galactosidase{
  color: #FFC78C !important;
}


.circle-β_glucuronidase {
  background-color: #70AD25 !important;
}
.buvard-β_glucuronidase,
.tube-β_glucuronidase{
  color: #70AD25 !important;
}


.circle-galactose_6_sulfatase {
  background-color: #708023 !important;
}
.tube-galactose_6_sulfatase,
.buvard-galactose_6_sulfatase{
  color: #708023 !important;
}

.circle-galins {
  background-color: #B8F471 !important;
}
.tube-galins,
.buvard-galins{
  color: #B8F471 !important;
}


.circle-glb1 {
  background-color: #EE922E !important;
}
.tube-glb1,
.buvard-glb1{
  color: #EE922E !important;
}

.circle-gns{
  background-color: #A03336 !important;
}
.tube-gns,
.buvard-gns {
  color: #A03336 !important;
}


.circle-gusb {
  background-color: #FF8EE9 !important;
}
.tube-gusb,
.buvard-gusb{
  color: #FF8EE9 !important;
}

.circle-hgsnat {
  background-color: #593869 !important;
}
.tube-hgsnat,
.buvard-hgsnat{
  color: #593869 !important;
}

.circle-heparane_sulfamidase {
  background-color: #FAFAF8 !important;
}
.tube-heparane_sulfamidase,
.buvard-heparane_sulfamidase{
  color: #FAFAF8 !important;
}

.circle-ids {
  background-color: #88DAFF !important;
}
.tube-ids,
.buvard-ids{
  color: #88DAFF !important;
}

.circle-idua {
  background-color: #FFC98F !important;
}
.tube-idua,
.buvard-idua{
  color: #FFC98F !important;
}

.circle-iduronate {
  background-color: #593869 !important;
}
.tube-iduronate,
.buvard-iduronate{
  color:#593869 !important;
}

.circle-naglu{
  background-color: #426877 !important;
}
.tube-naglu,
.buvard-naglu {
    background-color: #426877 !important;
}

.circle-nacetylglucosaminidase{
  background-color: #303030 !important;
}
.tube-nacetylglucosaminidase,
.buvard-nacetylglucosaminidase{
  color: #303030 !important;
}


.circle-sgsh{
  background-color: #FF8EE9 !important;
}
.tube-sgsh,
.buvard-sgsh{
  color: #FF8EE9 !important;
} 


.pictos .circle{
  content: '';
  background-repeat: no-repeat;
  border-radius: 50px;
  background-position: center;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  position: relative;
}
.pictos .tube::after{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  content: "\f492";
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  position: relative;
}
.pictos .buvard::after{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  content: "\f576";
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  position: relative;
}
.pictos {
  background: #eee;
  padding: 1em;
  border-radius: 20px;
  cursor:pointer;
  margin-top:1em;
  line-height:1;
}

.pictos-tabs{
  display:none;
}
/**/


i.fa-chevron-down {
    transform: rotate(0);
    transition: 0.4s;
  font-family: "Font Awesome 5 Free";
  font-weight:900;
  width:16px;
  height:16px;
  display:inline-block;
  font-style:normal;
  /* float:right; */
}
/**/
i.fa-chevron-down.chevron-top {
    transform: rotate(-180deg);
  transform-origin: center center;
}
/* =======================================
    BLOC BLEU
   ======================================== */

.blue {
  background-color: #1d70b7;
  padding: 40px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  color: #ffffff;
  text-align: center;
}

.labo{
  font-style:italic;
}
.chu{
  color:#ff6666;
  text-transform:uppercase;
  font-weight:bold;
  font-size: .9rem;
}
.prof,.prof2{
  font-weight:bold;
  font-size: 1.1rem !important;
}
.adress,.tel{
  margin-bottom:0 !important;
}
.cp,.fax,.mail{
  margin-top:0 !important;
}
.name{
  text-transform:uppercase !important;
}
.fill a{
  color:#707070 !important;
  text-decoration:none;
  transition:.3s;
}
.fill a:hover{
  color:#000000 !important;
}
.rt,.url{
  display:inline-block;
  overflow-wrap: break-word;
}
/* =======================================
    TABS
   ======================================== */
.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; 
  margin: 50px 0 0;
}
.tabs >label {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; 
  display: block;
  padding: 1rem;
  margin-right: 0.2rem;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: background ease 0.2s;
  -o-transition: background ease 0.2s;
  transition: background ease 0.2s;
  border-top:2px solid transparent;
  margin-left:1em;

}
.tabs .tab {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-box-ordinal-group:3;
      -ms-flex-order:2;
          order:2;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs input[type="radio"]:checked + label {
  border-top:2px solid #1d70b7;
  border-right:1px solid #f7f7f7;
}
.tabs input[type="radio"]:checked + label + .tab {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: 100%;
}
.clear{
  clear:both;
}
/* ==========================================================================
   FOOTER
   ========================================================================== */
   
.social_bg{
   background-color:#525ca3;
   padding: 30px 0;
}

.social_bg ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.bottom_footer{
  background:#2b2b38
}
.footer-container .flex-row{
  align-items:center;
  margin-bottom:0
}
.footer-container a{
  color:#fff;
  text-decoration:none;
}
.footer-container ul{
  list-style:none;
  margin:0;
  padding:0;
}
.footer-container .bottom_footer ul li{
  display:inline-block;
  min-width:10em
}
.copyright{
  color:#fff;
}

i.fab:hover{  
  transform: scale(1.1);
}

i.fab {
      font-family: FontAwesome;
    transition:.3s;
    font-size: 2rem;
    line-height: 50px;
  font-style:normal;
    font-weight: normal;
    content: none;
    color: rgba(255,255,255,1);
    border: solid 1px rgba(255,255,255,1);
    background-color: transparent;
    border-radius: 50%;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
}

/* ==========================================================================
   RESPONSIVE
   ========================================================================== */
@media ( min-width: 48rem){

   .description p{
    font-size:1rem;
    padding:5px 5px 5px 70px;
  }
  .layer_infos {
    min-height: 450px;
  }
  .layer_infos p{
    margin: 8px 0;
    position: relative;
    font-size: 1rem;
  }

  .hidden-sm{
    display:none;
  }
 
  .filter-group{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    border: 1px solid #eee;
  }
  
  
}
@media ( min-width:62em ) {
  

   .description p{
    font-size:1rem;
    padding:5px 5px 5px 55px;
  }
  .title-block{
    width:30%;
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
  }
  .image-block{
    width:70%;
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    height:auto;
  }
 
  .layer_infos {
    min-height: 526px;
  }
  .hamburger,
  .hamburger2{
    display:none;
  }
 
  #filters, 
  #filters_mps{
    position:relative;
    left:0;
    padding:0;
    margin-top: 1em;
  }
  
  .filter-group{
    padding:0;
    background-color:transparent;
  }
  
   #infos,
   #infos2{
    position: relative;
    right:0;
    margin-top:0;
  }
  .close,
  .close2{
    display:none;
  }
  .hidden-xs{
      display:block;
  }
  .hidden-sm{
    display:block;
  }
  .hidden-lg{
    display:none;
  }
}


@media ( min-width: 75em ){
  .title{
    color:#000000;
    background-image: -webkit-gradient(linear, right bottom, left top, from(#e2e4e3), color-stop(#e9ebeb), color-stop(#f0f1f2), color-stop(#f8f8f8), to(#ffffff));
    background-image: -o-linear-gradient(right bottom, #e2e4e3, #e9ebeb, #f0f1f2, #f8f8f8, #ffffff);
    background-image: linear-gradient(to left top, #e2e4e3, #e9ebeb, #f0f1f2, #f8f8f8, #ffffff);
    text-transform: uppercase;
    padding: 25px;
    margin: 0;
    font-size:1.7rem;
  }
  .title .small{
    font-size:1rem;
  }
  .description::before{
    left: 8%;
    -webkit-transform: translate(-8%,-50%);
        -ms-transform: translate(-8%,-50%);
            transform: translate(-8%,-50%);
  }
  .description {
    padding: 0;
  }
   .description p{
    font-size:1rem;
    padding:5px 5px 5px 85px;
  }
  .image-block img{
    max-width:100%;
    height: 100%;
  }
  #map,
  #map2{
    height: 100%;
    width: 100%;
  }
  .layer_infos{
    color: #707070;
    border:0;
    padding: 50px 35px;
    text-align: left;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color:transparent;
    border:0;
  }
  .blue{
    background-color:#1d70b7;
    padding: 110px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    color:#ffffff;
    text-align:center;
  }


}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}


